* {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	padding: 10px;
	margin: 10px;
	border-bottom: double;
}

header h1 {
	font-size: 100px;
}

header nav {
	font-size: 20px;
}

footer {
	text-align: center;
	margin: 10px;
	padding: 5px;
	border-top: double;
}

.loading-display {
	text-align: center;
}

.error-display {
	text-align: center;
}

.article-card {
	margin: 2rem;
	padding: 1rem;
	display: inline-block;
	border: solid black 2px;
	width: 250px;
}

.article-card p {
	text-decoration: underline;
	margin-bottom: 1rem;
}

.single-article {
	margin-bottom: 20px;
}

.single-article-headings {
	text-align: center;
}

.single-article-headings h2 {
	font-size: 30px;
}

.single-article-author {
	margin-bottom: 20px;
}

.article-main {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	flex-basis: 35%;
}

.single-article img {
	width: auto;
	height: 100%;
	max-width: 50vw;
	margin: 10px;
	resize: both;
	object-fit: cover;
}

.single-article-author {
	text-decoration: underline;
}

.single-article-body {
	max-width: 900px;
	margin: 10px;
	font-size: 20px;
}

.article-voting {
	text-align: center;
}

.article-voting button {
	margin: 10px;
	padding: 5px;
}

.article-comments h2 {
	margin-left: 10px;
	margin-bottom: 10px;
}

.article-comments p {
	margin: 10px;
}

.task {
	position: relative;
	color: #2e2e2f;
	background-color: #fff;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
	margin-bottom: 1rem;
	border: 3px dashed transparent;
	width: auto;
}

.task:hover {
	box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
	border-color: rgba(162, 179, 207, 0.2) !important;
}

.task p {
	font-size: 15px;
	margin: 1.2rem 0;
}

.tag {
	border-radius: 100px;
	padding: 4px 13px;
	font-size: 12px;
	color: #ffffff;
	background-color: #1389eb;
}

.tags {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stats {
	position: relative;
	width: 100%;
	color: #9fa4aa;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stats div {
	margin-right: 1rem;
	height: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.stats svg {
	margin-right: 5px;
	height: 100%;
	stroke: #9fa4aa;
}

.comment-area {
	resize: none;
	width: 400px;
	height: 70px;
}
